@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --xxx-color-base: #e2f3f5;
        --xxx-color-primary: #22d1ee;
        --xxx-color-secondary: #3d5af1;
        --xxx-color-success: #a7ff83;
        --xxx-color-danger: #ff304f;
        --xxx-color-warning: #faee1c;
        --xxx-color-info: #74f9ff;
        --xxx-color-light: #fdfdfd;
        --xxx-color-dark: #0e153a;
        --xxx-font-base: 'Manrope', '"sans-serif"'
   }

    html {
        /*font-family: theme('fontFamily.manrope');*/
        font-family: var(--xxx-font-base);
    }
}

html, body, #__nuxt, main {
    @apply h-screen w-screen flex-1
}

